/* DEVELOPER Sanavi Kothari, IS117-004, Fall 2024 */
.navbar {
    background-color: #228B22 !important; 
    padding: 1rem 1.5rem; 
    height: 70px; 
}

body {
    background-color: #FAF0E6; 
    margin: 0;
    

.content {
    padding: 30px 15px;
    margin-top: 40px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #228B22;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    margin-top: 40px;
    border-top: 2px solid #6DBE45;
}

}
body, html {
    height: 100%;
    margin: 0;
}

.container {
    padding-bottom: 15px; 


    

    
